{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<h1>Akademy 2015, A Coruña, Galicia</h1>
<div>
  <center>
    <a href="https://devel-home.kde.org/~duffus/akademy/2015/groupphoto/">
      <img src="/media/2015/akademy2015_wee_1.jpg" /></a><br />
      <em>Akademy 2015, A Coruña, Galicia, Spain</em>
  </center>
</div>
<p>Akademy 2015 took place in A Coruña, Galicia, Spain from 25th - 31st July
featuring a 2-day conference with presentations on the latest KDE developments,
followed by 5 days of workshops, Birds of a Feather (BoF) and coding sessions.
It was an opportunity to meet key KDE contributors, learn about the latest
features and enjoy the great atmosphere meeting developers, artists,
translators, upstream and downstream maintainers, users, and free and open
software industry leaders from all over the world.
</p>
{{ end }}

