{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<main role="main">
  <article class="post-content">

  <div class="jumbotron">
    <div class="content-width">
      <h1 class="page-header">{{ .Params.title }}</h1>
      <h2 class="mx-auto pb-2 mw-1000">{{ .Params.subtitle | markdownify }}</h2>
      <p class="meta"></p>
    </div>
  </div>

  <div class="content-width">

    <p>
      We are looking forward to having you join us at Akademy in 2025! We will announce the location and dates soon.
      For now you can <a href="https://mail.kde.org/mailman/listinfo/akademy-attendees">subscribe to our mailing list</a> to get notified when we announce them.
    </p>

    <div class="container py-5 pt-1 pb-4 text-center">
      <figure>
        <img class="wallpaper-img" src="{{ index .Params.images 0 }}" />
        <figcaption>
          <center>
            <small>Akademy 2022 by Akademy Team
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License" style="border-width:0"
                src="/media/2018/ccby-wee.png" />
              </a>
            </small>
          </center>
        </figcaption>
      </figure>
    </div>

    <section class="row follow-2023 px-4">
      <div class="col-12 col-md-6 follow-2023-text">
        <h2>Stay up to date!</h2>
        <p class="mb-5">Stay up to date by following Akademy on Twitter or Mastodon, join our attendees' mailing list or hang out in our Matrix channel.</p>
      </div>
      <div class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-center justify-content-end">
        <span>
          <a href="https://matrix.to/#/#akademy:kde.org"><img src="/media/Fork-Awesome-1.2.0/src/icons/svg/matrix-org.svg"></a>
          <a href="https://mail.kde.org/mailman/listinfo/akademy-attendees"><img src="/media/Fork-Awesome-1.2.0/src/icons/svg/envelope-square-modified.svg"></a>
          <a href="https://floss.social/@akademy"><img src="/media/Fork-Awesome-1.2.0/src/icons/svg/mastodon.svg"></a>
          <a href="https://twitter.com/akademy"><img src="/media/Fork-Awesome-1.2.0/src/icons/svg/twitter.svg"></a>
        </span>
      </div>
    </section>

  </div>

  </article>
</main>
{{ end }}
