{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<h1>Akademy 2014, Brno, Czech Republic</h1>

<div style="float: right; padding: 1ex; margin: 1ex; width:
	    400px;text-align:center;">
    <a href="http://byte.kde.org/~duffus/akademy/2014/groupphoto/">
    <img src="/media/2014/akademy2014_group_photo_teensy.png" /></a><br />
  <em>Akademy 2014, Brno, Czech Republic</em>
</div>

<p>Akademy is the annual world summit of <a href="http://www.kde.org/">KDE</a>,
one of the largest Free Software communities in the world. It is a free,
non-commercial event organized by the KDE Community.</p>

<p><strong>Akademy 2014 took place in Brno,  Czech Republic from the 6th to 12th
of September.</strong></p>

<p>Akademy features a 2-day conference with presentations on the latest KDE
developments, followed by 5 days of workshops, Birds of a Feather (BoF) and
coding sessions. It is an opportunity to meet key KDE contributors, learn
about the latest features and enjoy the great atmosphere. You will meet
developers, artists, translators, upstream and downstream maintainers, users,
and free and open software industry leaders from all over the world.</p>

{{ end }}

