{{ define "main" }}
{{- $year := .Section }}
{{- $sponsors := (index .Site.Data $year).sponsors }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ if and .Section (not .Params.hideSponsors) $sponsors }}
      {{ partial "containerJumbotron" . }}
      <div class="container">
        <div class="row">
          <section class="col-lg-9">
            {{ .Content }}

            {{ partial "include-html" . }}
            {{ partial "related-post" . }}
            {{ partial "copyright.html" . }}
          </section>
          {{- partialCached "sponsors.html" . .Section }}
        </div>
      </div>
    {{ else }}
      {{ partial "jumbotron" . }}
      <div class="content-width">
        {{ .Content }}

        {{ partial "include-html" . }}
        {{ partial "related-post" . }}
        {{ partial "copyright.html" . }}
      </div>
    {{ end }}
  </article>

</main>
{{ end }}
