{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<h1>Akademy 2018 - Vienna, Austria - 11-17 August</h1>
<p>Vienna Calling! This is not only a song by the famous austrian singer Falco, but could also be the motto for next years Akademy.<br />
In 2018 <a href="/2018">Akademy</a> will be held at the <a href="https://www.tuwien.ac.at/en/">TU Wien</a> in <a href="https://en.wikipedia.org/wiki/Vienna">Vienna</a>, Austria, from Saturday 11th to Friday 17th August.</p>

<p>The conference is expected to draw hundreds of attendees from the global <a href="https://www.kde.org">KDE</a> Community to discuss and plan the future of the Community and its technology. Many participants from the broad free and open source software community, local organizations and software companies will also attend.</p>

<p>Akademy 2018 is being organized together with <a href="https://www.fsinf.at">Fachschaft Informatik</a> (FSINF). Apart from representing and counseling computer science students, they engage in diverse political topics e.g. FOSS, Privacy and social justice.</p>

<h2>Akademy 2018 Program</h2>

<p>Akademy 2018 will start with a 2-day conference on Sat 11th of August &amp; Sunday 12th of August, followed by 5 days of workshops, Birds of a Feather (BoF) and coding sessions.</p>

<h2>Vienna and Akademy</h2>

<p>Vienna, the capital of Austria, has around 1.8 million inhabitants. It is located in the middle of Central Europe, next to the river Danube. With it's rich history, ranging from Roman times via being the capital city of the Habsburg Empire to being a modern city, rated Number one in diverse studies on quality of living.</p>
<div style="float: right; padding: 1ex; margin: 1ex;">
<img width="225" height="300" src="/media/2018/220px-Wien_-_Stephansdom_%281%29.JPG" /><br />
<small>
<a href="https://upload.wikimedia.org/wikipedia/commons/d/dd/Wien_-_Stephansdom_%281%29.JPG" style="color: #999999">Bwag/CC-BY-SA-4</a>
</small>
</div>

<h2>TU Wien and Akademy</h2>

<p>Almost all buildings of TU Wien are very close to the city center. From the venue a 10 minute walk will bring you directly to the inner city. With a total of around 30000 students, 6000 are studying Computer Science at TU Wien.</p>

<h2>About Akademy</h2>

<p>For most of the year, KDE—one of the largest free and open software communities in the world—works on-line by email, IRC, forums and mailing lists. Akademy provides all KDE contributors the opportunity to meet in person to foster social bonds, work on concrete technology issues, consider new ideas, and reinforce the innovative, dynamic culture of KDE. Akademy brings together artists, designers, developers, translators, users, writers, sponsors and many other types of KDE contributors to celebrate the achievements of the past year and help determine the direction for the next year. Hands-on sessions offer the opportunity for intense work bringing those plans to reality. The KDE Community welcomes companies building on KDE technology, and those that are looking for opportunities. For more information, please contact <a href="mailto:akademy-team@kde.org">The Akademy Team</a>.</p>

<div style="padding: 1ex; margin: 1ex; width: 360px;text-align:center; ">
<a href="http://devel-home.kde.org/~duffus/akademy/2018/groupphoto/">
 <img src="/media/2018/akademy2018-groupphoto-teensie.jpg" />
</a>
<figcaption>Akademy 2018, Vienna<br />
<small>Photo by Ingride Costa 
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
<img alt="Creative Commons License" style="border-width:0" src="/media/2018/ccby-wee.png" />
</a>
</small>
</figcaption>
</div>


{{ end }}

