{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<h1>Akademy 2017 - Almería, Spain - 22nd - 27th July</h1>
<p>Akademy is the annual world summit of
<a href="http://www.kde.org/">KDE</a>, one of the largest Free Software
communities in the world. It is a free, non-commercial event organized
by the KDE Community.</p>
<p><a href="/2017">Akademy 2017</a> was held at the 
<a href="http://www.ual.es/">Universidad de Almería (UAL)</a> in 
<a href="https://en.wikipedia.org/wiki/Almer%C3%ADa">Almería</a>, Spain,
from July 22nd to 27th.</p>
<p>The conference is expected to draw hundreds of attendees from the
global KDE Community to discuss and plan the future of the Community
and its technology. Many participants from the broad free and open
source software community, local organizations and software companies
will also attend.</p>
<div style="float: right; padding: 1ex; margin: 1ex;">
	<img width="225" height="300"
	src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Almeria_Alcazaba_fcm.jpg/450px-Almeria_Alcazaba_fcm.jpg" /><br />
	<small>Source: <a href="https://en.wikipedia.org/wiki/File:Almeria_Alcazaba_fcm.jpg">Wikipedia - CC SA 2.5</a>
	</small>
</div>
<p>This year Akademy is being organized together with UNIA and HackLab
Almería. Together they have organized various free software events
including the successful <a href="http://2016.es.pycon.org/">PyConEs 2016</a>
</p>
<h2>Akademy-es</h2>
<p>Akademy-es is the Spanish language KDE event organized every year by
<a href="http://kde-espana.org/">KDE España</a>, this year it is teaming
up with the international event and
<a href="https://www.kde-espana.org/akademy-es2017/">Akademy-es 2017</a>
will also be held in Almería from 20th to 21st of July.</p>
<h2>Almería and Akademy</h2>
<p>Almería a city of about 200,000 inhabitants located in the
south-eastern corner of the Iberian Peninsula, it's a city that
has attracted diverse peoples and cultures for thousands of years. The
city has around 3000 hours of sun every year, so come prepared with
lots of sun screen. It has nice sights such as
<a href="http://www.andalucia.org/en/cultural-tourism/visits/almeria/monuments/alcazaba-de-almeria/">Alcazaba</a>
and the <a href="http://www.andalucia.org/en/cultural-tourism/visits/almeria/monuments/catedral-de-almeria/">Cathedral</a>. Not far from Almería one can enjoy the
<a href="https://en.wikipedia.org/wiki/Cabo_de_Gata-N%C3%ADjar_Natural_Park">
	Cabo de Gata-Níjar Natural Park (UNESCO Biosphere Reserve)</a>
the driest location in Europe.</p>
<h2>About Akademy</h2>
<p>Akademy features a 2-day conference with presentations on the latest
KDE developments, followed by 4 days of workshops, Birds of a Feather
(BoF) and coding sessions. It is an opportunity to meet key KDE
contributors, learn about the latest features and enjoy the great
atmosphere. You will meet developers, artists, translators, upstream
and downstream maintainers, users, and free and open software industry
leaders from all over the world.</p>
<div style="padding: 1ex; margin: 1ex; width: 610px;text-align:center; ">
	<a href="http://devel-home.kde.org/~duffus/akademy/2015/groupphoto/">
		<img src="/media/2015/akademy2015_wee_1.jpg" /></a><br />
	<em>Akademy 2015, A Coruña, Galicia, Spain</em>
</div>

{{ end }}

