<header id="KGlobalHeader" class="header clearfix">
  <a class="visually-hidden" href="#main">{{ i18n "skip-to-content" }}</a>
  <nav class="navbar navbar-expand-lg">
    <a class="kde-logo navbar-brand active" href="/">
      <span class="visually-hidden">{{ i18n "home" }}</span>
      {{ if $.Site.Params.displayTitle }}
        {{ i18n "displayed-title" }}
      {{ end }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      {{- partial "menu_bar.html" . -}}
    </div>
  </nav>
</header>
