{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<div class="row mt-3">
  <div class="col-9">
    {{ .Inner | markdownify }}
  </div>
  <div class="col-3">
    <a href="{{ .Get "homepage" }}">
      {{ if .Get "img_dark" }}
      <picture>
	<source media="(prefers-color-scheme: dark)"
		srcset="{{ .Get "img_dark" }}" />
	<img src="{{ .Get "img" }}"  />
      </picture>
      {{ else }}
      <picture>
	<img src="{{ .Get "img" }}" class="img-fluid" />
      </picture>
      {{ end }}
    </a>
  </div>
</div>
