.main-content table.sorted {
  thead td {
    cursor: pointer;
    background: #D2E1E4 !important;
    font-weight: bold;
    text-shadow: #fff 0px 0px 1px;
  }

  tr:first-child {
    background: #EDEFF0 !important;
  }

  .arrow_up, .arrow_dn {
    width: 10px;
    height: 14px;
    display: block;
    float: left;
    background-image: url('/media/2010/sort.gif');
    background-repeat: no-repeat;
  }

  .arrow_up {
    background-position: top left;
  }

  .arrow_dn {
    background-position: bottom left;
  }
}
